body {
 background-image: url("/static/img/galaxy2.jpg");
  background-size: cover;
  background-color:#444444;

  font-family: "Poor Story", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.champ_box {
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(167, 76, 169); */
  margin-bottom:1rem;
}

.champ_img {
  margin-left: 5rem;
  margin-top: 5rem;
  margin-bottom:1rem;
}

.champ_stat {
  margin-top: 5rem;
  margin-left: 5rem;
}

#champ_level {
  font-size: 1.5rem;
  color: white;
  margin-left: 1rem;
}
/*
.table-rounded {
  border: 2px solid black;
  border-radius: 5%;
}
*/
table,
th,
td {
  border: 3px solid #444444;
  
}

/* th {
  width : 250px;
  min-width: 250px;
  max-width: 250px;
  윈도우 사이즈 줄였을때 테이블이 줄어드는것을 방지
} */

table {
  table-layout: fixed;
}

.stat-table th {
  width : 130px;
}

thead > tr > th {
  width : 300px;
}

.level_box {
  height: 3rem;
  display: flex;
}

.level_box > i {
  margin-right: 1rem;
}



.main_page_button {
  margin-top: 1rem;
}


thead > tr {
  height: 5px;
}

/* champ-memo 관련 부분 */
/* .champ_memo > table > tbody > tr > td{
  text-overflow: ellipsis;
  overflow : hidden;
  white-space: nowrap;
  height : 50px;
} */

.champ-memo > table {
  height : 200px;
  table-layout: fixed;
}

.champ-memo {
  margin-top: 8rem;
  margin-left: 5rem;
  margin-right : 2rem;
  height: 200px;
}

.content-box {
  display:flex;
  justify-content: space-between;
}

.table-light > tr > th {
  height : 5px;
}

.text-content {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.8;
  overflow: hidden;
}


/*tipbox관련--------------------------------------*/
#tipbox {
  color : black;
  width:1000px;
  height:500px;
  background-color: white;
  margin-left: 5rem;
  margin-top: 1rem;
  margin-bottom:1rem;
}

.tip-setting {
  margin-left:5rem;
}
