<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lollipop::뉴비를 위한 롤정보</title>
    <link rel="icon" href="/static/img/lollipop_fav.ico" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/433d703869.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link href="/static/css/bootstrap.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="../static/css/champ.css" /> -->
    <link rel="stylesheet" href="/static/css/champ.css" />
  </head>
  <body>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <script>
      alert("{{messages[-1]}}");
    </script>
    {% endif %} {% endwith %}
    <div class="champ_box">
      <div class="champ-img">
        <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{champ_name}}_0.jpg" alt="" />
      </div>
      <div class="champ-description">
        <div class="champ-title">
          <div class="champ-nickname">{{champ_title}},&nbsp;&nbsp;&nbsp;</div>
          <div class="champ-name">{{champ_name_kor}}</div>
        </div>
        <div class="champ-blurb">{{champ_blurb}}</div>
        <div class="champ-stat">
          공격력 {% if attack >= 1 and attack <= 2 %}
          <div class="progress progress-bar-custom" role="progressbar" aria-label="Info example" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar text-dark" style="width: 20%">1</div>
          </div>
          {% elif attack >= 3 and attack <= 4 %}

          <div class="progress progress-bar-custom" role="progressbar" aria-label="Info example" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar text-dark" style="width: 40%">2</div>
          </div>
          {% elif attack >= 5 and attack <= 6 %}
          <div class="progress progress-bar-custom" role="progressbar" aria-label="Info example" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar text-dark" style="width: 60%">3</div>
          </div>
          {% elif attack >= 7 and attack <= 8 %}
          <div class="progress progress-bar-custom" role="progressbar" aria-label="Info example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar text-dark" style="width: 80%">4</div>
          </div>
          {%else%}
          <div class="progress progress-bar-custom" role="progressbar" aria-label="Info example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar text-dark" style="width: 100%">5</div>
          </div>
          {% endif %} 주문력 {% if magic >= 1 and magic <= 2 %}
          <div class="progress progress-bar-custom" role="progressbar" aria-label="Info example" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar text-dark" style="width: 20%">1</div>
          </div>
          {% elif magic >= 3 and magic <= 4 %}
          <div class="progress progress-bar-custom" role="progressbar" aria-label="Info example" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar text-dark" style="width: 40%">2</div>
          </div>
          {% elif magic >= 5 and magic <= 6 %}
          <div class="progress progress-bar-custom" role="progressbar" aria-label="Info example" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar text-dark" style="width: 60%">3</div>
          </div>
          {% elif magic >= 7 and magic <= 8 %}
          <div class="progress progress-bar-custom" role="progressbar" aria-label="Info example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar text-dark" style="width: 80%">4</div>
          </div>
          {%else%}
          <div class="progress progress-bar-custom" role="progressbar" aria-label="Info example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar text-dark" style="width: 100%">5</div>
          </div>
          {% endif %} 방어력 {% if defense >= 1 and defense <= 2 %}
          <div class="progress progress-bar-custom" role="progressbar" aria-label="Info example" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar text-dark" style="width: 20%">1</div>
          </div>
          {% elif defense >= 3 and defense <= 4 %}

          <div class="progress progress-bar-custom" role="progressbar" aria-label="Info example" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar text-dark" style="width: 40%">2</div>
          </div>
          {% elif defense >= 5 and defense <= 6 %}
          <div class="progress progress-bar-custom" role="progressbar" aria-label="Info example" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar text-dark" style="width: 60%">3</div>
          </div>
          {% elif defense >= 7 and defense <= 8 %}
          <div class="progress progress-bar-custom" role="progressbar" aria-label="Info example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar text-dark" style="width: 80%">4</div>
          </div>
          {%else%}
          <div class="progress progress-bar-custom" role="progressbar" aria-label="Info example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar text-dark" style="width: 100%">5</div>
          </div>
          {% endif %} 난이도 {% if difficulty >= 1 and difficulty <= 2 %}
          <div class="progress progress-bar-custom" role="progressbar" aria-label="Info example" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar text-dark" style="width: 20%">1</div>
          </div>
          {% elif difficulty >= 3 and difficulty <= 4 %}

          <div class="progress progress-bar-custom" role="progressbar" aria-label="Info example" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar text-dark" style="width: 40%">2</div>
          </div>
          {% elif difficulty >= 5 and difficulty <= 6 %}
          <div class="progress progress-bar-custom" role="progressbar" aria-label="Info example" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar text-dark" style="width: 60%">3</div>
          </div>
          {% elif difficulty >= 7 and difficulty <= 8 %}
          <div class="progress progress-bar-custom" role="progressbar" aria-label="Info example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar text-dark" style="width: 80%">4</div>
          </div>
          {%else%}
          <div class="progress progress-bar-custom" role="progressbar" aria-label="Info example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar text-dark" style="width: 100%">5</div>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="opponent-selection">
        {% for url in champ_data %}
        <div class="small-champ-img">
          <img class="opp-img" src="{{url[1]}}" alt="Champion Image" data-champname="{{url[0]}}" />
          <div class="champ-name-hover">{{url[0]}}</div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="tip_and_youtube">
      <div class="tip-section">
        <div style="color: white" class="tip-setting">
          <div id="tip-title">AI 매치업팁</div>
          <div id="me">{{champ_name_kor}}</div>
          VS
          <div id="opp">상대 챔피언</div>
          라인
          <select name="line" id="line">
            <option value="탑">탑</option>
            <option value="정글">정글</option>
            <option value="미드">미드</option>
            <option value="원딜">원딜</option>
            <option value="서포터">서포터</option>
          </select>
          <input type="hidden" />
          <button type="submit" id="tip-button">팁 제공</button>
        </div>
        <div id="tipbox">AI에게 챔피언별 상대법을 물어보세요!</div>
      </div>
      <div class="youtube-section">
        <div id="player"></div>
      </div>
    </div>

    <div class="champ-memo-section">
      <table class="table table-dark table-hover">
        <thead class="table-header">
          <tr>
            <th class="text-content-head">내용</th>
            <th class="writer-head">작성자</th>
            <th class="write-time-head">작성시간</th>
          </tr>
        </thead>

        <tbody class="table-group-divider">
          {% for obj in items_on_page%}
          <tr>
            <td class="content-box">
              <div class="text-content">{{obj[1]}}</div>
              <form action="{{ url_for('route.delete_post', writer_id=obj[2], post_num=obj[0]) }}" method="POST" style="display: inline">
                <input type="hidden" name="writer_id" value="{{ obj[2] }}" />
                <input type="hidden" name="post_num" value="{{ obj[0] }}" />
                <button type="submit" class="delete-button">삭제</button>
              </form>
            </td>
            <td><div class="writer">{{obj[3]}}</div></td>

            <td><div class="write-time">{{obj[4]}}</div></td>
          </tr>
          {% endfor %}
        </tbody>

        <nav aria-label="...">
          <ul class="pagination">
            {% if page > 1 %}
            <li class="page-item">
              <a class="page-link" href="{{ url_for('route.product_detail', page=page-1, champ_name=champ_name)}}">이전</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link">이전</a>
            </li>
            {% endif %} {% for x in range(total_pages) %} {% if page == x + 1 %}
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="{{ url_for('route.product_detail', page=x+1, champ_name=champ_name)}}">{{x + 1}}</a>
            </li>
            {% else %}
            <li class="page-item">
              <a class="page-link" href="{{ url_for('route.product_detail', page=x+1, champ_name=champ_name)}}">{{x + 1}}</a>
            </li>
            {% endif %} {% endfor %} {% if page < total_pages %}
            <li class="page-item">
              <a class="page-link" href="{{ url_for('route.product_detail', page=page+1, champ_name=champ_name)}}">다음</a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </table>
      <form method="post" action="/routing/post">
        <input type="text" class="text-write" name="content" />
        <button class="write-button">글 작성</button>
      </form>
      <form method="get" action="/routing/main/normal">
        <button class="main-page-button">메인페이지로</button>
      </form>
    </div>

    <!-- <script>
      const API_KEY = "{{YOUTUBE_API_KEY}}";
      const SEARCH_QUERY = "롤 " + "{{champ_name_kor}}" + "초보 강의";

      let tag = document.createElement("script");
      tag.src = "https://www.youtube.com/iframe_api";
      let firstScriptTag = document.getElementsByTagName("script")[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      let player;
      function onYouTubeIframeAPIReady() {
        // 검색 결과를 가져오기 위해 YouTube Data API 호출
        fetch(`https://www.googleapis.com/youtube/v3/search?part=snippet&type=video&q=${encodeURIComponent(SEARCH_QUERY)}&key=${API_KEY}`)
          .then((response) => response.json())
          .then((data) => {
            if (data.items.length > 0) {
              // 첫 번째 검색 결과의 비디오 ID 가져오기
              const videoId = data.items[0].id.videoId;
              // YouTube 플레이어 생성
              player = new YT.Player("player", {
                //height: "360",
                //width: "640",
                videoId: videoId,
                events: {
                  //onReady: onPlayerReady,
                },
              });
            } else {
              console.error("검색 결과가 없습니다.");
            }
          })
          .catch((error) => console.error("YouTube Data API 호출 중 오류 발생:", error));
      }

    </script> -->
    <script src="/static/js/openAI.js"></script>
    <script>
      const opp_img_list = document.getElementsByClassName("opp-img");
      const opp_box = document.getElementById("opp");

      for (let i = 0; i < opp_img_list.length; i++)
        opp_img_list[i].addEventListener("click", () => {
          //console.log(opp_img_list[i].dataset.champname);
          opp_box.innerText = opp_img_list[i].dataset.champname;
        });
    </script>
  </body>
</html>
