<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/champ.css" />
</head>
<body>
    <div class="champ_box">
        <div class="champ_img">
            <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{champ_name}}_0.jpg" alt="">
        </div>
        <div class="champ_stat">
            <div>
                <table>
                    <tr>
                        <th>체력</th>
                        <th>{{hp}}</th>  
                    </tr>
                    <tr>
                        <th>레벨당 체력 증가량</th>
                        <th>{{hpperlevel}}</th>
                    </tr>
                    <tr>
                        <th>기본 마나</th>
                        <th>{{mp}}</th>
                    </tr>
                    <tr>
                        <th>레벨당 마나 증가량</th>
                        <th>{{mpperlevel}}</th>

                    </tr>
                    <tr>
                        <th>이동속도</th>
                        <th>{{movespeed}}</th>
                    </tr>
                    <tr>
                        <th>방어력</th>
                        <th>{{armor}}</th>
                    </tr>
                    <tr>
                        <th>레벨당 방어력 증가량</th>
                        <th>{{armorperlevel}}</th>
                    </tr>
                    <tr>
                        <th>마법저항력</th>
                        <th>{{spellblock}}</th>
                    </tr>
                    <tr>
                        <th>레벨당 마법저항력 증가량</th>
                        <th>{{spellblockperlevel}}</th>
                    </tr>
                    <tr>
                        <th>사거리</th>
                        <th>{{attackrange}}</th>
                    </tr>
                    <tr>
                        <th>초당 체력회복량</th>
                        <th>{{hpregen}}</th>
                    </tr>
                    <tr>
                        <th>레벨당 초당 체력회복량 증가량</th>
                        <th>{{hpregenperlevel}}</th>
                    </tr>
                    <tr>
                        <th>초당 마나재생량</th>
                        <th>{{mpregen}}</th>
                    </tr>
                    <tr>
                        <th>레벨당 초당 마나재생량 증가량</th>
                        <th>{{mpregenperlevel}}</th>
                    </tr>
                    <tr>
                        <th>치명타확률</th>
                        <th>{{crit}}</th>
                    </tr>
                    <tr>
                        <th>레벨당 치명타 확률 증가량</th>
                        <th>{{critperlevel}}</th>
                    </tr>
                    <tr>
                        <th>공격력</th>
                        <th>{{attackdamage}}</th>
                    </tr>
                    <tr>
                        <th>레벨당 공격력 증가량</th>
                        <th>{{attackdamageperlevel}}</th>
                    </tr>
                    <tr>
                        <th>공격속도</th>
                        <th>{{attackspeed}}</th>
                    </tr>
                    <tr>
                        <th>레벨당 공격속도 증가량</th>
                        <th>{{attackspeedperlevel}}</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>