<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="개발자 Chris의 portfolio용 사이트">
    <meta name="author" content="chris ahn">
    <title>Lolmemo::My own tips of playing LOL</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/static/style.css">
    
  </head>
  <body>
    <header>
      <div>
        <a href=""><img src="" alt=""></a>
      </div>
    </header>
    <nav>
      <div class="session_box">
        <div class="session_menu">회원가입</div>
        <div class="session_menu">로그인</div>
      </div>
      
    </nav>
    <section>
      <div class="champions_box"></div>
    </section>
    <footer></footer>
  </body>
</html>
