<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="개발자 Chris의 portfolio용 사이트" />
    <meta name="author" content="chris ahn" />
    <title>Lollipop::League Of Legends Database</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <header>
      {%with messages = get_flashed_messages()%}
      {%if messages %}
          <script type="text/javascript">
            alert("{{messages[-1]}}");
          </script>
      {%endif%}
      {%endwith%}
    </header>
    <nav>
      <div class="nav_box">
        <div class="logo_box"><img src="../static/img/Lollipop.png" alt="사이트로고" /></div>
        <div class="session_box">
          {% if nickname != null %}
          <div class="session_menu"> {{nickname}}님, 안녕하세요 </div>
          <div class="session_menu"><a href="/routing/logout">logout</a></div>
          <div class="session_menu"><a href="/routing/withdraw">회원탈퇴</a></div>
          
          {% else %}
          <div class="session_menu"><a href="/routing/register_page">회원가입</a></div>
          <div class="session_menu"><a href="/routing/login_page">로그인</a></div>
          {% endif %}
        </div>
      </div>
    </nav>
    <section>
      <div class="main_image">hi</div>
      <div class="champions_box">
        <div class="champ_category">Fighter</div>
        <div class="champ_container" id="top_lane"> <!--현재이슈 : 이미지가 첫번째 이미지부터 안나오고 중간부터나옴. champ_container에서 첫번째 이미지부터 나오도록 수정요망-->
          
          {% for url in Fighter %}
          <div class="champion"><a href="/routing/champion/{{url[0]}}"><img src={{url[1]}} alt="Champion Image" /></a></div>
          {% endfor %}
        </div>

        <div class="champ_category">Tank</div>
        <div class="champ_container">
          
          {% for url in Tank %}
          <div class="champion"><a href="/routing/champion/{{url[0]}}"><img src={{url[1]}} alt="Champion Image" /></a></div>
          {% endfor %}
        </div>

        <div class="champ_category">Mage</div>
        <div class="champ_container">
          {% for url in Mage %}
          <div class="champion"><a href="/routing/champion/{{url[0]}}"><img src={{url[1]}} alt="Champion Image" /></a></div>
          {% endfor %}
        </div>
        
        <div class="champ_category">Assassin</div>
        <div class="champ_container">
          
          {% for url in Assassin %}
          <div class="champion"><a href="/routing/champion/{{url[0]}}"><img src={{url[1]}} alt="Champion Image" /></a></div>
          {% endfor %}
        </div>

        <div class="champ_category">Marksman</div>
        <div class="champ_container">
          
          {% for url in Marksman %}
          <div class="champion"><a href="/routing/champion/{{url[0]}}"><img src={{url[1]}} alt="Champion Image" /></a></div>
          {% endfor %}
        </div>

        <div class="champ_category">Support</div>
        <div class="champ_container">
          
          {% for url in Support %}
          <div class="champion"><a href="/routing/champion/{{url[0]}}"><img src={{url[1]}} alt="Champion Image" /></a></div>
          {% endfor %}
        </div>

      </div>
    </section>
    <footer>
      <div class="footer">
          Project by Taekyu<br>
          all rights reserved
      </div>
    </footer>
    <script src="/static/js/main.js"></script>
  </body>
</html>
